data/config/*
!data/config/sample.default.ini
!data/config/sample-rasp-3.default.ini
!data/config/sample-rasp-5.default.ini
data/logs/*
!data/logs/.empty
venv/
simple-fan-controller/
.idea/
system-monitor-venv/
**/__pycache__/